body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    /* background: linear-gradient(to border-top, #f0f0f0, #d3bfb1); */
    background: linear-gradient(-45deg, #ffffff, #f4ebe5, #c9d8de, #e2f8f3);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

table {
    border-collapse: collapse;
    color: black;
    font-weight: bold;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 2%;
    /* margin: 0 0 15px 0; */
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #525050;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
}

/* Emphasize 3x3 grids */
tr:nth-child(3) td,
tr:nth-child(6) td {
    border-bottom: 2px solid #666;
}

td:nth-child(3),
td:nth-child(6) {
    border-right: 2px solid #666;
}

td:hover {
    background-color: #e0e0e0;
}

td:focus {
    outline: none;
    background-color: #ddd;
}
.loading-hidden {
    display: none;
}

.loading-visible {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
